<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="AnalysisPanel">
		<pos>123,75</pos>
		<id_arg>0</id_arg>
		<object class="wxBoxSizer" variable="BoxSizer2" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer3" member="no">
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
							<label>Thésaurus sélectionné</label>
							<size>118,13</size>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxComboBox" name="ID_COMBOBOX1" variable="ComboBox1" member="yes">
							<style>wxCB_READONLY|wxCB_DROPDOWN</style>
						</object>
						<flag>wxALL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
					<label>Analyser un mot</label>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer1" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="m_wordToAnalyse" member="yes">
									<focused>1</focused>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
									<label>Ajouter au thésaurus</label>
								</object>
								<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND</flag>
								<border>5</border>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="m_guematrixNumberSizer" member="yes">
							<orient>wxVERTICAL</orient>
						</object>
						<flag>wxLEFT|wxRIGHT|wxALIGN_TOP</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="m_reductionNumberSizer" member="yes">
							<orient>wxVERTICAL</orient>
						</object>
						<flag>wxALL|wxALIGN_TOP</flag>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="no">
					<label>Correspondances dans le thésaurus</label>
					<object class="sizeritem">
						<object class="wxListView" name="ID_LISTVIEW1" variable="ListView1" member="yes">
							<size>360,98</size>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
